{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="login">

    <div class="card" id="login-card">
        <div class="card-header" id="login-header">
            <h1>Login</h1>
        </div>
        <div class="card-body" id="login-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Login</button>
            </form>
            <hr/>
            <div class="text-center">
                <p class="small text-muted">Dont have an account? <a class="btn btn-sm btn-success" href="{% url 'signup' %}">SignUP</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
