{% extends "base.html" %}

{% block Title %}Password Change Successful{% endblock Title %}


{% block content %}
<div class="password">
    <div class="card" id="message-card">
        <div class="card-header" id="message-header">
            <h1>Password change successful</h1>
        </div>
        <div class="card-body" id="message-body">
            <p>Your password was changed.</p>
            <a class="btn btn-outline-info float-end" href="{% url 'profile' %}">Back To User Profile!</a>
        </div>
    </div>
</div>
{% endblock content %}