{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block Title %}Password Change{% endblock Title %}

{% block content %}
<div class="password">
    <div class="card" id="password-card">
        <div class="card-header" id="password-header">
            <h1>Password Change</h1>
        </div>
        <div class="card-body" id="password-body">
            <p>Enter you old password followed by the new password twice</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success float-end" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}