{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block Title %}Profile{% endblock Title %}

{% block content %}
<div class="profile">
    <div class="card" id="profile-card">
        <div class="card-header " id="profile-header">
            <div class="float-start">
                <a class=" btn btn-outline-info link-back" href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="container profile-container">
                <div style="font-size: 6rem ;">
                    <i class="fa-regular fa-circle-user" id="user-icon"></i>
                </div>
                <h1>{{ user.username }}</h1>
            </div>
        </div>
        <div class="card-body" id="profile-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ user_form|crispy }}
                <button class="btn btn-success" type="submit">Save</button>
                <a class="btn btn-info float-end" href="{% url 'password_change' %}">Change Password</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}